# Svetovno prebivalstvo

Projekt pri Programiranju 1 z namenom analize rasti prebivalstva glede na rast GDP.

## Priprava

Začnemo z nalaganjem paketa pandas in razpredelnic, ki jih ustvarimo z ustvari_cvs.py. Podatki so v .txt obliki pridobljeni s strani https://www.cia.gov/library/publications/resources/the-world-factbook/.

In [1]:
import pandas as pd

pd.options.display.max_rows = 20
pd.options.display.max_columns = 20

GDP = pd.read_csv('csv-datoteke/GDP_na_prebivalca.csv', index_col='drzava')
GDP_rast = pd.read_csv('csv-datoteke/GDP_rast.csv', index_col='drzava')
populacija_rast = pd.read_csv('csv-datoteke/rast_populacije.csv', index_col='drzava')

In [2]:
%matplotlib

Using matplotlib backend: TkAgg

## Analiza

In [3]:
skupaj = pd.concat([GDP_rast.mean(1), populacija_rast.mean(1)], axis=1, join='outer')
skupaj = skupaj.rename(columns={0: 'Rast GDP', 1: 'Rast populacije'})

In [30]:
skupaj

                     Rast GDP  Rast populacije
Afghanistan              8.19         2.398750
Albania                  3.39         0.347500
Algeria                  3.66         1.537500
American Samoa           2.40         0.423750
Andorra                  1.30         0.566250
Angola                   9.49         2.430000
Anguilla                -1.02         2.167500
Antigua and Barbuda      1.68         1.278750
Argentina                5.67         1.005000
Armenia                  7.41        -0.007500
...                       ...              ...
Venezuela                3.70         1.467500
Vietnam                  6.66         1.025000
Virgin Islands           1.26        -0.295000
Wallis and Futuna         NaN         0.350000
West Bank                3.55         2.083750
Western Sahara            NaN         2.958750
World                    4.54         1.163333
Yemen                    2.87         2.817500
Zambia                   6.27         2.625000
Zimbabwe                -0.27         2.913750

[243 rows x 2 columns]

In [5]:
skupaj[skupaj['Rast GDP'] > 0].sort_values('Rast GDP')

                                  Rast GDP  Rast populacije
Micronesia, Federated States of   0.085714        -0.327500
Cook Islands                      0.100000        -3.131429
Cyprus                            0.160000         1.290000
Jamaica                           0.420000         0.725000
British Virgin Islands            0.610000         2.095000
Tonga                             0.730000         0.640000
Korea, North                      0.740000         0.526250
Montserrat                        0.800000         0.436250
Brunei                            0.840000         1.702500
Spain                             0.860000         0.538750
...                                    ...              ...
Mongolia                          9.030000         1.445000
Macau                             9.287500         1.283750
China                             9.330000         0.512500
Sierra Leone                      9.420000         2.286250
Angola                            9.490000         2.430000
Turkmenistan                      9.510000         1.198750
Qatar                             9.540000         2.437500
Bhutan                           10.330000         1.197500
Azerbaijan                       11.840000         0.890000
Libya                            23.070000         2.592500

[220 rows x 2 columns]