# Analiza rasti prebivalstva glede na GDP

In [1]:
import pandas as pd

pd.options.display.max_rows = 20
pd.options.display.max_columns = 20

GDP = pd.read_csv('csv-datoteke/GDP_na_prebivalca.csv', index_col='drzava')
GDP_rast = pd.read_csv('csv-datoteke/GDP_rast.csv', index_col='drzava')
populacija_rast = pd.read_csv('csv-datoteke/rast_populacije.csv', index_col='drzava')

In [34]:
povprecne = pd.concat([GDP.mean(1), GDP_rast.mean(1), populacija_rast.mean(1)], axis=1, join='inner')
povprecne = povprecne.rename(columns={1: 'Rast GDP', 2: 'Rast populacije', 0: 'Povprečni GDP'})

povprecne = povprecne.sort_values(by='Povprečni GDP')
povprecne

                                   Povprečni GDP  Rast GDP  Rast populacije
drzava
Congo, Democratic Republic of the            450    6.6300          2.78750
Burundi                                      530    3.9500          3.30875
Somalia                                      600    2.5800          2.11250
Liberia                                      680    7.1300          2.74125
Central African Republic                     810    1.3600          1.98000
Malawi                                       820    5.8100          2.80500
Niger                                        840    7.3000          3.38375
Eritrea                                      870    3.6700          2.44125
Zimbabwe                                     930   -0.2700          2.91375
Madagascar                                   990    3.2300          2.81250
...                                          ...       ...              ...
United States                              48200    2.3200          0.89250
Brunei                                     49270    0.8400          1.70250
Macau                                      50540    9.2875          1.28375
Norway                                     54790    2.6600          0.54125
Jersey                                     55300   -0.3000          0.67375
Singapore                                  55300    6.2600          1.44750
Bermuda                                    74700    2.2700          0.56875
Luxembourg                                 79650    2.7000          1.27375
Liechtenstein                              81380    4.3600          0.75125
Qatar                                     102400    9.5400          2.43750

[225 rows x 3 columns]

AttributeError: 'DataFrame' object has no attribute 'sorted'

-18.749999999999996