In [1]:
import pandas as pd

pd.options.display.max_rows = 20
pd.options.display.max_columns = 20

GDP = pd.read_csv('csv-datoteke/GDP_na_prebivalca.csv', index_col='drzava')
GDP_rast = pd.read_csv('csv-datoteke/GDP_rast.csv', index_col='drzava')
populacija = pd.read_csv('csv-datoteke/populacija.csv', index_col='drzava')
populacija_rast = pd.read_csv('csv-datoteke/rast_populacije.csv', index_col='drzava')

In [12]:
GDP_rast.mean(1)

drzava
Barbados                     1.15
Hong Kong                    4.42
Bhutan                      10.33
Kenya                        4.97
Turks and Caicos Islands     6.79
Israel                       4.00
Nigeria                      6.53
Nauru                        8.00
Mozambique                   7.41
Haiti                        0.90
                            ...
Libya                       23.07
Niger                        7.30
Rwanda                       7.08
India                        7.20
Iran                         2.79
Burkina Faso                 5.66
Hungary                      1.30
Spain                        0.86
Serbia                       2.61
Albania                      3.39
dtype: float64

In [18]:
pd.concat([GDP_rast.mean(1), populacija_rast.mean(1)], axis=1)

                        0         1
Afghanistan          8.19  2.398750
Albania              3.39  0.347500
Algeria              3.66  1.537500
American Samoa       2.40  0.423750
Andorra              1.30  0.566250
Angola               9.49  2.430000
Anguilla            -1.02  2.167500
Antigua and Barbuda  1.68  1.278750
Argentina            5.67  1.005000
Armenia              7.41 -0.007500
...                   ...       ...
Venezuela            3.70  1.467500
Vietnam              6.66  1.025000
Virgin Islands       1.26 -0.295000
Wallis and Futuna     NaN  0.350000
West Bank            3.55  2.083750
Western Sahara        NaN  2.958750
World                4.54  1.163333
Yemen                2.87  2.817500
Zambia               6.27  2.625000
Zimbabwe            -0.27  2.913750

[243 rows x 2 columns]